.gloss {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gloss p {
    margin-top: 0;
    margin-bottom: 0;
}

.gloss dl {
    display: inline-block;
    margin: 0;
}
.gloss dd {
    margin-left:0;
}
